# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtual environment
venv/
mealPlanner/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Python-specific
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.pyc

# Flask-specific
instance/

# SQLite database files (if used)
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Others
*.bak
*.swp
*.tmp
